/* firstpage start  */
.firstpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    font-size: 50px;
    text-align: center;
}
h5{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
p{
    padding-left: 20px;
    font-size: 30px;
    text-align: center;

}
/* seconpage start */
.content0{
    background-color: rgb(24, 13, 69);
    height: 100vh;
    padding-left: 8%;
    gap: 48px;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.box{
    background-image: url('images/iphone2.jpg');
    background-color: rgb(41, 177, 3);
    height: 75%;
    width: 45%;
    border-radius: 40px;
 
}
.box1{
    background-color: red;
    height: 75%;
    width: 45%;
    border-radius: 40px;
  
}
/* fourthpage */
.content1{
    background-color: rgb(124, 111, 179);
    height: 100vh;
    padding-left: 8%;
    gap: 48px;
    padding: 68px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.boxs{
    background-color:red;
     height: 85%;
    width: 30%;
    border-radius: 40px; 
}
.p1{
    
}





