*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font: bold 50px sans-serif;
    text-align: center;
}
h5{
    font-size: 30px;
    text-align: center;
}
p{
    padding: 100px;
    font: 30px
    px sans-serif;
    text-align: center;
}

.main-container{
  height: 100vh;

}
.first{
    height: 100vh;  
    padding-left: 14px;
    background-color: rgb(32, 20, 121);
    padding-left: 3%;
    gap: 48px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.box{
    background-color: rgb(41, 177, 3);
    height: 75%;
    width: 45%;
    border-radius: 40px;
}
img{
    height: 75%;
    width: 45%;
    border-radius: 40px;
}