*{
    padding: 0;
    margin: 0;
}
#header{
    border: 1px solid black;
    background-color: black;
    width: 100vw;
    height: 38px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#p{
    color: whitesmoke;
    font-size: 14px;
    font-weight: 500;
}
.navbar{
    /* border: 1px solid black; */
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px 0 ;
    
}
#content{
    /* background-color: red; */
    gap: 40px;
    justify-content: center;
    align-items: center;

}
#shopon{
    /* border: 1px solid  black; */
    font-size: 32px;
    font-weight: 400;
    margin-left: 120px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 10px  10px 10px 10px ;
}
a{
    text-decoration: none;
    color: black;
}
#search {
    background-color: whitesmoke;
    font-size: 15px;
    padding: 10px 16px;
    width: 477px;
    height: 22px;
    background: #F0F0F0;
    border-radius: 62px;
    border: none;
}
#cornerimg{
    margin-right: 120pxs;
    /* border: 1px solid black; */
    position: relative;
    right: 130px;
    top: 10px;
}
/* 1stpage */
#backimg{
    width: 100%;
    height: 100vh;
    background-image: cover;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.firstcontent{
    /* background-color: red; */
    padding-left: 120px;
    padding-right: 120px;
    width: 577px;
    height: 173px;
    position: absolute;
    top: 130px;
    left: 0;
    
}

#content1{
    padding: 10px 10px 10px 10px ;
}
#ShopNow{
    width: 210px;
    height: 52px;
    border-radius: 20px ;
}
#firstpara{
    font-size: 64px;
}
#row{
    display: flex;
    padding: 250px 10px 10px 10px;
}
#ptxt{
    padding-top: 200px  ;
}
/*  */
.brands{
    display: flex;
}