*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(4, 56, 115, 1);
    color:white
}
.container{
    width: 100vh;
    height: 25vh;
    background-color: rgba(4, 56, 115, 1);
    display: flex;
}
.header{
    width: 100%;
    height: 10vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    position: relative;
}
.logo{
    height: 50px;
    width: 200px;
    position: absolute;
    left: 100px;
}
.menu{
    display: flex;
    margin-left: 450px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    gap: 20px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:-80px;
}
.login{
    height: 50px;
    width: 100px;
    background: rgba(255, 228, 146, 1);
    border-radius: 10px;
    color: rgba(4, 56, 115, 1);
    border: 1px solid rgba(4, 56, 115, 1);
}
.whitespace{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background: rgba(79, 156, 249, 1);
    border: 1px solid rgba(79, 156, 249, 1);
    color: white;
}





/* secondpage */
.content_2{
    height: 100vh;
    padding-left: -382.13px;
}
.boxs{
    display: flex;
    justify-content: center;
    width: 1480px;
    height: 547px;
    gap: 60px;
    padding-top: 144px;
    padding-right: 220px;
    padding-top: 140px;
    padding-left: 220px;
}
.boxs1{
    padding-top: 144px;
    padding-right: 220px;
    padding-top: 140px;
    padding-left: 220px;
    width: 627px;
    height: 288px;
    gap: 32x;
}
h1{
    font-size: 72px;
    font-weight: 700;
    color: whitw
    ;
}
p{
    font-size: 18px;
    font-weight: 400;
}

.boxs2{
    margin-bottom: 140px;
    background-color: #c4defd;
    width: 748px;
    height: 547px;
}
/* thirdpage */
.content_3{
    background-color: #043873;
    height: 100vh;
    padding-left: -382.13px;
}
.boxs{
    display: flex;
    justify-content: center;
    width: 1480px;
    height: 547px;
    gap: 60px;
    padding-top: 144px;
    padding-right: 220px;
    padding-top: 140px;
    padding-left: 220px;
    margin-bottom: 140px;
}
.boxs1{
    width: 627px;
    height: 288px;
    gap: 32x;
}
h1{
    font-size: 72px;
    font-weight: 700;
    color: whitw

}
p{
    font-size: 18px;
    font-weight: 400;
}

.boxs2{
   
    background-color: #c4defd;
}

